@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

.sort-asc, .sort-desc {
  display: inline-block;
  width: 0;
  height: 0;
  margin-bottom: 5px;

  &.sort-asc {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #007bff;
  }

  &.sort-desc {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #007bff;
  }
}